@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FDE6E6;

}

.App::before {
    content: "";
    background-image: url('./assets/background-paw-prints.png');
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.06;
}

.Page {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

.btn-secondary {
    background-color: #A0CED9 !important;
    border-color: #A0CED9 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.btn-secondary:hover {
    background-color: #91BEC9 !important;
    border-color: #91BEC9 !important;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 0px !important;
    border-radius: 35px !important;
}

.banner {
    width: 100%;
    background-color: #FFA18F;
    border-top-style: solid;
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.banner-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0 !important;
}

.game-window {
    width: 70vw;
    height: 70vh;
    border-style: solid;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}


.inputBox {
    width: 350px;
    display: inline-block;



}

.adoptBtn {

     display: inline-block;
     align-self: flex-end;


}

.carousel {
    width: 300px;
    height: 300px;
}

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*flex-direction: row;*/
}
.inputContainer{
     display: flex;
    flex-direction: row;
    justify-content: center;
}

